*.log
node_modules
.idea/
*.iml
doc/
out/
.DS_Store
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
docs/
output/
src-old/
test.js
